/***********************/
/******* IMPORT ********/
/***********************/

@import "jquery-ui";

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list"; /* FEATURES FOR THE NAVBAR */
@import "compass/typography/text/replacement";  /*FEATURES FOR THE LOGO*/
@import "compass/css3/border-radius"; /* FEATURES FOR THE BUTTON */
@import "compass/css3/box-shadow"; /* FEATURES FOR THE BUTTON */

@import url("http://fonts.googleapis.com/css?family=Roboto Condensed");

/*************************************/
/*********** COLOR & other ***********/
/*************************************/

$light_red: #b15d52;
$grey: #525252;
$green: #477a4d;
$white: #FFF;
$list-space: 5px;

/*****************************************/
/*********** GLOBAL DESIGN ***************/
/*****************************************/

body {
  background: asset-data-uri('bg.png') repeat top center fixed;
  font-family: 'Roboto Condensed', sans-serif;
}

div#main {
  background-image: asset-data-uri('main-bg.png');
  margin: 0 auto 0 auto;
  width: 880px;
}

header {
  height: 130px;
  margin: 0 auto 0 auto;
  margin-top: 40px;
  width: 880px;

  h1 {
    @include replace-text-with-dimensions('header-bg.png', 50%, 50%, true);
  }
}

article#service {
  min-height: 200px;
  background-repeat: repeat-y;
}

div#service {
  width: 560px;
  margin-left: 60px;
  padding-top: 30px;
}

/**********************************/
/*********** GLOBAL ***************/
/**********************************/
a {
  color: $light_red;
  font-size: 24px;
}

li {

  a {
    text-decoration: none;
  }
}

ul {
  @include horizontal-list($list-space);
}

hr.service {
  color: $light_red;
  border-color: $light_red;
  border-style: solid;
  margin: 20px 0 20px 0;
}

div.both {
  clear: both;
}

.annotation {
  font-size: 15px;
  color: $light_red;
  margin-left: 20px;
}

h3 {
  margin: 10px 0 10px 0;
  padding-top: 8px;
  color: white;
  font-size: 23px;
  font-weight: 700;
}

h4 {
  color: white;
  font-weight: 700;
}

a > div {
  font-size: 16px;
}

/*****************************/
/*********** IE **************/
/*****************************/
a > img {
  text-decoration: none; border: none;
}

/*****************************/
/********** GENERAL **********/
/*****************************/
div#content {
  width: 700px;
  color: $light_red;

  h1 {
    margin: 40px;
    font-size: 48px;
    text-align: center;
  }

  p {
    color : $grey;
    text-align: left;
    line-height: 20px;
  }

  h2 {
    font-size: 20px;
    padding: 20px 0 10px 0;
    text-align: left;
  }

  .small {
    max-width: 200px;
  }

  button {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
  }

  button:hover {
    cursor: pointer;
  }

  a.button {
    margin: 20px;
    text-decoration: none;
    font-size: 25px;
    width: 400px;
    height: 70px;

    .button {
      padding: 20px 20px;
      background-color: $green;
      color: white;
      background-image: linear-gradient(bottom, #406f46 0%, #4d8554 100%);
      background-image: -o-linear-gradient(bottom, #406f46 0%, #4d8554 100%);
      background-image: -moz-linear-gradient(bottom, #406f46 0%, #4d8554 100%);
      background-image: -webkit-linear-gradient(bottom, #406f46 0%, #4d8554 100%);
      /************* COMPASS *******************/
      /** BOX SHADOW **/
      @include box-shadow(rgba(#000, 0.4) 0 0 25px);
      /** BORDER**/
      @include border-radius(6px, 6px);
     /************** COMPASS ******************/
      text-align: center;
      font-weight: 700;

      span.telecharger {
        font-size: 18px;
        color: inherit;
        font-weight: 500;
        text-align: center;
        padding: 0 5px;
      }
    }
  }

  #platVaisselle {

    #platVaisselle > p {
      text-align: left;
      color: #000;
    }

    .platFroid, .vaisselle {
      float: right;
      margin-right: 17px;
    }

    .locationVaiselle, .platChaud {
      float: left;
    }
  }
}

#sidebar {
  float: right;
  height: 275px;
  width: 226px;
  background-color: $light_red;

  #coordonee {
    margin: 20px 0 0 20px;

    .phone, .clock {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    }

    .horaire {
      margin-top: 20px;

      .clock {
      width: 20px;
      height: 20px;
      }
    }

    #horaire {
      margin-top: 20px;

      p {
        line-height: 20px;
        font-size: 14px;
        color: white;
      }

      span.time {
        float: right;
        margin-right: 20px;
      }
    }
    .important {
      text-align: center;
      padding-top: 10px;
      color: white;
      font-size: 17px;
    }
  }

  #aPropo {
    margin: 30px 40px 0 20px;

    h3 {
      color: $light_red;
    }

    p {
      line-height: 20px;
      margin: 10px 0 10px 0;
      font-size: 14px;
    }
  }
}

div#ligthbox_service {
  width: 540px;
  position: absolute;
  top: 225px;
  margin: 20px auto;
  margin-left: -35px;
  padding: 20px 40px 0 20px;
  border: solid $light_red 5px;
  background-color: $white;
  display: none;
  overflow-y: scroll;
  max-height: 700px;

  p , a {
    font-size: 16px;
    color: black;
    line-height: 25px;
  }

  #close2 {
    float: right;
    width: 10px;

    a {
      text-decoration: none;

      span {
        width: 10px;
        color: $light_red;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }

  h1 {
    color: $light_red;
  }

  h3 {
    color: $light_red;
  }

  li {
    margin-bottom: 10px;
    margin-left: 20px;
    color: black;
  }
}

div#offre {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 820px;
  height: 645px;
  background-color: $light_red;
  padding-left: 40px;
  margin-left: 16px;

  h1 {
    margin: 0;
    padding-bottom: 20px;
    color: white;
    text-align: left;
  }

  h3 {
    font-weight: 500;
  }

  form {

    div#information {
      float: left;
    }

    div#menu {
      float: right;
      margin-right: 100px;
    }

    p {
      display: inline-block;
      min-width: 200px;
      text-align: left;
      color: black;

      *display: inline; /* IE < 8 */ *zoom : 1; /* IE < 8 */
    }

    hr {
      width: 770px;
      border: solid $white 2px;
      margin: 34px 0 34px 0px
    }

    .agreement {
      width: 70%;
      float: left;

      #ligthbox_agreement {
        width: 770px;
        position: absolute;
        top: 990px;
        margin: 20px auto;
        padding: 20px 40px 65px 40px;
        margin-left: -40px;
        border: solid $light_red 5px;
        background-color: $white;
        display: none;

        p {
          font-size: 16px;
        }

        #close {
          float: right;
          width: 10px;

          a {
            text-decoration: none;

            span {
              width: 10px;
              color: $light_red;
              font-size: 1.5em;
              font-weight: bold;
            }
          }
        }

        h1 {
          color: $light_red;
        }

        h3 {
          color: $light_red;
        }

        li {
          margin-bottom: 10px;
        }
      }

      p.first {
        font-size: 13px;
        margin-bottom: 20px;

        .agreement_link {
          color: $white;
          font-size: 13px;
          text-decoration: underline;
        }
      }

      p {
        width: 100%;
        font-size: 13px;
        margin-bottom: 20px;
      }

      #button_form {
        width: 30%;
        float: right;

        .demand {
          font-size: 12px;
        }
      }
    }
  }
}

div#contact {
  margin-top: 50px;

  #map {
    margin-left: 20px;
  }

  h1 {
    margin: 1px 25px 40px 40px;
    float: left;
    text-align: left;
  }

  div#adresse {
    float: left;
    font-size: 16px;

    p.adresse {
      text-align: left;
    }
  }

  div#contacter {
    width: 180px;
    float: left;
    margin-left: 90px;

    p.contacter {
      text-align: left;
      float: left;
      font-size: 16px;
    }

    p.mail {
      padding-top: 10px;

      a {
        text-decoration: none;
        color: $grey;
        font-size: 16px;
      }
    }

    h3 {
      margin: 0 0 0 35px;
      color: $light_red;
    }
  }
}
