<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Morier Traiteur<%= @item[:title] %></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <script type="text/javascript" src="/assets/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/assets/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>
    <script src="/assets/javascripts/modernizr.js"></script>
    <script src="/assets/javascripts/h5validate.js"></script>
  </head>
  <body>
    <header>
      <h1>Boucherie Charcuterie Traiteur Du Tilleul</h1>
    </header>
    <div id="main">
      <div id="sidebar">
        <div id="coordonee">
          <img src="/assets/images/phone.png" class="phone"></img><h3>021 624 45 46</h3>
          <p class="important">Pas de service traiteur le dimanche</p>
          <div class="horaire"><img src="/assets/images/clock.png" class="clock"></img><h4>Horaires</h4></div>
          <div id="horaire">
            <p><span>Lundi, mardi,</span><span class="time">07h30 - 12h15</span></p>
            <p><span>jeudi, vendredi</span><span class="time">14h00 - 18h45</span></p>
            <br />
            <p><span>Mercredi</span><span class="time">07h30 - 12h15</span></p>
            <p><span>Samedi</span><span class="time">07h30 - 13h00</span></p>
          </div>
        </div>
        <div id="aPropo">
          <h3>A propos</h3>
          <p>La Boucherie du Tilleul existe depuis plus de 50 ans à Prilly. J’ai repris ce commerce depuis 1995 et j’y ai développé entre autre une activité traiteur.</p>
          <p>Dans le domaine de la boucherie-charcuterie, j’utilise essentiellement de la viande provenant de producteurs de la région que je travaille et transforme à la méthode artisanale. Ainsi sortent de mon four diverses terrine, pâté en croûte, saucisse, foie gras, etc… pour le délice de vos papilles.</p>
          <p>En plus du traiteur et de la charcuterie, je fais également des livraisons dans diverses collectivités, restaurants et garderies de la région.</p>
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="offre">
      <h1>Demander une offre</h1>
      <form method="POST" action="/index">
        <div id="information">
          <h3>Coordonnées</h3>
          <div><p class="input">Nom & Prénom</p><input name="message_request[name]" size="20" type="text" value="" required></input></div>
          <div><p class="input">Numéro de téléphone</p><input name="message_request[phone]" size="20" type="text" value="" required ></input></div>
          <div><p class="input">Email</p><input name="message_request[mail]" size="20" type="email" value="" required></input></div>
          <h3>Vos besoins</h3>
          <div><p class="input">Nombre de personne</p><input name="message_request[person]" size="5" type="text" value="" required></input></div>
          <div><p class="input">Date de l'événement</p><input name="message_request[date]" id="datepicker" size="20" type="text" value="" required></input></div>
          <div><p class="input">Heure de l'événement</p><input name="message_request[time]" size="20" type="text" value="" required></input></div>
          <div><p class="input">Budget par personne</p><input name="message_request[budget]" size="10" type="text" value="" required></input></div>
        </div>
        <div id="menu">
          <h3>Type de menu</h3>
          <div><p class="input">Buffet de grillades</p><input name="message_request[buffet]" size="10" type="checkbox" value="Buffet de grillades -"></input></div>
          <div><p class="input">Apéro</p><input name="message_request[apero]" size="10" type="checkbox" value=" Apéro -"></input></div>
          <div><p class="input">Menus chauds</p><input name="message_request[menuchaud]" size="10" type="checkbox" value=" Menus chauds -"></input></div>
          <div><p class="input">Chasse</p><input name="message_request[chasse]" size="10" type="checkbox" value=" Chasse -"></input></div>
          <div><p class="input">Salades</p><input name="message_request[salade]" size="10" type="checkbox" value=" Salades -"></input></div>
          <div><p class="input">Assiettes froides</p><input name="message_request[assiettesfroides]" size="10" type="checkbox" value=" Assiettes froides -"></input></div>
          <div><p class="input">Repas de l’entrée au dessert</p><input name="message_request[entreedessert]" size="10" type="checkbox" value=" Repas de l’entrée au dessert -"></input></div>
          <div><p class="input">Fromages et pains </p><input name="message_request[fromagepain]" size="10" type="checkbox" value=" Fromages et pains -"></input></div>
          <div><p class="input">Desserts </p><input name="message_request[dessert]" size="10" type="checkbox" value=" Desserts -"></input></div>
          <div><p class="input">Fondues de viandes</p><input name="message_request[fondueviande]" size="10" type="checkbox" value=" Fondues de viandes -"></input></div>
          <div><p class="input">Buffets froids</p><input name="message_request[buffetfroid]" size="10" type="checkbox" value=" Buffets froids -"></input></div>
          <div><p class="input">Buffets froids et chauds</p><input name="message_request[buffetfroidchaud]" size="10" type="checkbox" value=" Buffets froids et chauds"></input></div>
        </div>
        <div class="both"></div>
        <hr />
        <div class="agreement">
          <div id="ligthbox_agreement">
            <div id="close"><a href="#"><span>X</span></a></div>
            <h1>Conditions générales</h1>
            <h3>Service complet</h3>
            <p>Frs 10.- de plus à ajouter au prix du menu choisi
            Lorsque le repas est préparé ( ou livré ) puis servi par nos soins, nous servons le
            repas jusqu'au café et faisons la vaisselle jusqu'au dessert seulement et puis
            remettons la cuisine en ordre. Le personnel de cuisine est déjà compris dans le prix. Nous ne faisons pas le service à la table le dimanche.</p>
            <h3>Livraison seulement</h3>
            <p>Pour un repas en dessous de Frs 500.- nous facturons Frs 50.-- de frais de
            livraison. En dessus, la livraison du repas est généralement gratuite, mais nous nous réservons le droit de demander une participation au frais de déplacement suivantles kilomètres à parcourir. Le retour du matériel, sauf arrangement préalable, doit se faire par le client.</p>
            <h3>Paiement</h3>
            <p>Le paiement se fait sur facture payable à 30 jours nets. Pour le montant de la
            facture nous prenons en compte seulement le nombre de personne commandée ainsi
            que le prix déjà établi lors de la commande finale, c'est à dire une semaine avant.
            Aucune déduction ne peut être fait lorsque par exemple des convives se seraient
            désistés au dernier moment.</p>
            <h3>Commande</h3>
            <p>Le nombre de personne, le menu définitif, l'heure, l'endroit, le prix, doit en général être discuté et confirmé une semaine avant.
            La date, le type de service, le menu approximatif doit en général être discuté et
            confirmé un mois avant. Nous vous rappelons que nos prix sont indicatifs, et peuvent varier suivant le cour du marché, le nombre de personne, le type de repas, etc... La TVA est déjà comprise dans le prix.
            Tout le matériel prêté doit être rendu propre. Si ce n'est pas le cas, nous
            facturons les frais de nettoyage Frs 100.-- / l'heure.</p>
            <h3>Important</h3>
            <p>Voici quelques aides afin de vous guider dans votre choix de repas :</p>
            <ol>
              <li>1. Si vous commandez de la glace, veuillez avoir un congélateur sur place.</li>
              <li>2. Certains articles ne supportent pas l'autocuiseur par exemple, les pâtes, les pommes de terre duchesse, les croissants aux jambons chauds, ainsi que les
                  ramequins au fromage.</li>
              <li>3. Merci de nous retourner le matériel propre.</li>
              <li>4. Après avoir terminé votre repas, laisser l'autocuiseur ouvert, et ne pas
                  réchauffer les aliments qui ont séjourné dans l'autocuiseur.</li>
              <li>5. En cas de service fait par nos soins, la solde du repas reste en notre
                  possession.</li>
            </ol>
          </div>
          <p class="first"><input type="checkbox" name="agreement" value="false" required></input> J'ai lu et approuvé <a href="#" class="agreement_link">les conditions générales de vente</a> et je confirme avoir plus de 20 personnes dans ma commande</p>
          <p>Cette demande n'est pas une confirmation de votre commande. C'est une demande de devis définitif qui vous sera envoyé par email ou confirmé par téléphone.</p>
        </div>
        <div id="button_form">
          <a class="small button"><button name="commit" type="submit" value="Envoyer" id="button"><div class="small button"><span class="telecharger">Envoyer</span><br />la demande d'offre</div></button></a>
        </div>
      </form>
    </div>
    <div id="contact">
      <h1>Contact</h1>
      <div id="adresse">
        <p class="adresse">Boucherie – Charcuterie du Tilleul</p>
        <p class="adresse">Blaise Morier</p>
        <p class="adresse">Route de Cossonnay 24, 1008 Prilly</p>
      </div>
      <div id="contacter">
        <p class="contacter">Tél.<br/>Fax</p>
        <h3>021 624 45 46</h3>
        <p class="contacter mail"><a href="mailto:morier@moriertraiteur.ch">morier@moriertraiteur.ch</a></p>
      </div>
      <iframe id="map" width="855" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Boucherie+du+Tilleul,+Blaise+Morier&amp;aq=&amp;sll=46.533752,6.607376&amp;sspn=0.676428,1.233215&amp;ie=UTF8&amp;hq=Boucherie+du+Tilleul,+Blaise+Morier&amp;hnear=&amp;t=m&amp;ll=46.533757,6.607375&amp;spn=0.005166,0.00912&amp;z=16&amp;iwloc=A&amp;&output=embed&iwloc=near"></iframe>
    </div>
  </body>
</html>
